{% extends 'profile.html' %}

{{% block javascript %}
    $("#submit_expense").click(function(){

        var expense_name = $("#expense_name").val();
        var amount = $("#amount").val();
        var description = $("#description").val();
        var comment = $("#comment").val();

        $.ajax({

                url: '{% url "expense_added" %}',
                type: 'POST',
                data: {'csrfmiddlewaretoken': '{{csrf_token}}', 'expense_name': expense_name, 'amount': amount, 'description': description, 'comment': comment},
                dataType: 'json',
                success: function(data){
                    if (data.success){
                        alert(data.note);
                    }

                    else{
                        alert(data.note);
                    }

                }

        });

    });





    {% endblock %}

{% block body %}

<h1>{{ request.user }}</h1>

<div id="expence_info">
    <p>
        <tr>
            <td><label>Name</label></td>
            <td><input type="text" id='expense_name'></td>
        </tr>
    </p>

    <p>
        <tr>
            <td><label>Amount</label></td>
            <td><input type="text" id='amount'></td>
        </tr>
    </p>

    <p>
        <tr>
            <td><label>Description</label></td>
            <td><input type="text" id='description'></td>
        </tr>
    </p>

    <p>
        <tr>
            <td><label>Comment</label></td>
            <td><input type="text" id='comment'></td>
        </tr>
    </p>

    <p><input type="button" id="submit_expense" value="Submit"></p>

</div>

<div>


</div>
{% endblock %}