{% extends 'profile.html' %}



<script>




        function try_delete(exp_id) {

            $.ajax({

                    url: '{% url "try_delete" %}',
                    type: 'POST',
                    data: {'csrfmiddlewaretoken': '{{csrf_token}}', 'exp_id': exp_id},
                    dataType: 'json',
                    success: function(data){
                        if (data.success){
                            alert(data.note);

                            }

                        else{
                            alert(data.note);
                            }
                        }

                    });

        }



</script>

{% block javascript %}

    $("#delete_expense").click(function(){

        var exp_id = $("#expense_id").val();

        $.ajax({
            url: '{% url "delete_expense" %}',
            type: 'POST',
            data: {'csrfmiddlewaretoken': '{{csrf_token}}', 'exp_id': exp_id},
            dataType: 'json',
            success: function (data) {
            if (data.success) {
                alert(data.note);
                }
            else{
                alert(data.note);
                }
            $("body").append(data.success);


            }
        });

    });


    $("#edit_expense").click(function(){

        var exp_id = $("#exp_id").val();
        var exp_name = $("#exp_name").val();
        var exp_amount = $("#exp_amount").val();
        var exp_descr = $("#exp_descr").val();
        var exp_comment = $("#exp_comment").val();

        $.ajax({
            url: '{% url "edit_expense" %}',
            type: 'POST',
            data: {'csrfmiddlewaretoken': '{{csrf_token}}', 'exp_id': exp_id, 'exp_name': exp_name, 'exp_amount': exp_amount, 'exp_descr': exp_descr, 'exp_comment': exp_comment},
            dataType: 'json',
            success: function (data) {
            if (data.success) {
                alert(data.note);
                window.location = "detail_view/";
                $('#names').reload('#names');
                }
            else
            {
                alert(data.note);

                for (var i = 0, n = exp_list.length; i < n; i++)
                {
                    var txt = ("#exp_list[i].id").val()
                    var e_id = data.exp_id
                    if (txt == e_id)
                    {
                        exp_list[i].expense_name.text(data.expense_name);
                        exp_list[i].amount.text(data.amount);
                        exp_list[i].description.text(data.description);
                        exp_list[i].date.text(data.date);
                        exp_list[i].time.text(data.time);
                        exp_list[i].comment.text(data.comment);
                    }
                }
            }
            $("body").append(data.success);


            }
        });

    });


    $("#calculate_day").click(function(){

        $.ajax({

                url: '{% url "calculate_day" %}',
                type: 'POST',
                data: {'csrfmiddlewaretoken': '{{csrf_token}}'},
                dataType: 'json',
                success: function(data){
                    if (data.success){
                        alert(data.note);
                        $("#calculate_day_avg").html(data.avg);
                        }

                    else{
                        alert(data.note);
                        }
                    }

                });

        });


    $("#calculate_this_week").click(function(){

        $.ajax({

                url: '{% url "calculate_this_week" %}',
                type: 'POST',
                data: {'csrfmiddlewaretoken': '{{csrf_token}}'},
                dataType: 'json',
                success: function(data){
                    if (data.success){
                        alert(data.note);
                        $("#this_week_total").html(data.total);
                        }

                    else{
                        alert(data.note);
                        }
                    }

                });

        });


        $("#filter_exact_date_btn").click(function(){


            var chosen_date = $("#filter_exact_date").val();
            $.ajax({

                url: '{% url "exact_date" %}',
                type: 'POST',
                data: {'csrfmiddlewaretoken': '{{csrf_token}}', 'chosen_date': chosen_date},
                dataType: 'json',
                async: true,
                success: function(data){
                    if (data.success){
                        window.location.href = "/exact_date_view/";
                    }
                    else{
                        alert(data.note);
                        }
                }
            });
        });


        $("#filter_exact_amount_btn").click(function(){


            var chosen_amount = $("#filter_exact_amount").val();
            $.ajax({

                url: '{% url "exact_amount" %}',
                type: 'POST',
                data: {'csrfmiddlewaretoken': '{{csrf_token}}', 'chosen_amount': chosen_amount},
                dataType: 'json',
                async: true,
                success: function(data){
                    if (data.success){
                        window.location.href = "/exact_amount_view/";
                    }
                    else{
                        alert(data.note);
                        }
                }
            });
        });



{% endblock %}








{% block body %}

<h1>{{ request.user }}</h1>

<div>

   <h1>detail view</h1>

<div id="names">

    <p>
    <tr>
    <td><label>id</label></td>
    <td><label>name</label></td>
    <td><label>amount</label></td>
    <td><label>description</label></td>
    <td><label>date</label></td>
    <td><label>time</label></td>
    <td><label>comment</label></td>
    </tr>
    </p>
{% for exp in exp_list %}
    <p>
    <tr>
    <td><label id="id">{{ exp.id }}</label></td>
    <td><label id="expense_name">{{ exp.expense_name }}</label></td>
    <td><label id="amount">{{ exp.amount }}</label></td>
    <td><label id="description">{{ exp.description }}</label></td>
    <td><label id="date">{{ exp.date }}</label></td>
    <td><label id="time">{{ exp.time }}</label></td>
    <td><label id="comment">{{ exp.comment }}</label></td>


    <!--<td><button onclick="try_delete({{ exp.id }})" value="delete">Delete</button></td>-->

    </tr>
    </p>


{% endfor %}

</div>

<div id="selected"></div>

<div id="expense_avg_div">
    <p>
        <tr>
            <td><input type="button" id="calculate_day" value="get average per day"></td>
            <td><label id="calculate_day_avg"></label></td>
        </tr>
    </p>
</div>


<div id="total_week">
    <p>
        <tr>
            <td><input type="button" id="calculate_this_week" value="get total this week"></td>
            <td><label id="this_week_total"></label></td>
        </tr>
    </p>
</div>

<div>
    <p>
        <tr>
            <td><input type="text" id="expense_avg"></td>
            <td><input type="button" id="delete_expense" value="delete expense"></td>
        </tr>
    </p>

</div>

<div>
<p><label>Edit expense from id</label></p>

    <p>
        <tr>
            <td><label>id</label></td>
            <td><label>name</label></td>
            <td><label>amount</label></td>
            <td><label>description</label></td>
            <td><label>comment</label></td>
            <td><label></label></td>
        </tr>
    </p>

    <p>
        <tr>
            <td><input type="text" id="exp_id"></td>
            <td><input type="text" id="exp_name"></td>
            <td><input type="text" id="exp_amount"></td>
            <td><input type="text" id="exp_descr"></td>
            <td><input type="text" id="exp_comment"></td>
            <td><input type="button" id="edit_expense" value="edit expense"></td>
        </tr>
    </p>

</div>

<div>

    <p>
        <tr>
            <td><label>filter by exact date</label></td>
            <td><input type="date" id="filter_exact_date"></td>
            <td><input type="button" id="filter_exact_date_btn" value="filter"></td>
        </tr>
    </p>

    <p>
        <tr>
            <td><label>filter by date between</label></td>
            <td><input type="date" id="filter_date_one"></td>
            <td><input type="date" id="filter_date_two"></td>
            <td><input type="button" id="filter_date_between_btn" value="filter"></td>
        </tr>
    </p>

    <p>
        <tr>
            <td><label>filter by exact amount</label></td>
            <td><input type="text" id="filter_exact_amount"></td>
            <td><input type="button" id="filter_exact_amount_btn" value="filter"></td>
        </tr>
    </p>

    <p>
        <tr>
            <td><label>filter by amount between</label></td>
            <td><input type="text" id="filter_amount_one"></td>
            <td><input type="text" id="filter_amount_two"></td>
            <td><input type="button" id="filter_amount_between_btn" value="filter"></td>
        </tr>
    </p>

    <p>
        <tr>
            <td><label>filter by name containing string</label></td>
            <td><input type="text" id="filter_name"></td>
            <td><input type="button" id="filter_name_btn" value="filter"></td>
        </tr>
    </p>

    <p>
        <tr>
            <td><label>filter by description containing string</label></td>
            <td><input type="text" id="filter_desc"></td>
            <td><input type="button" id="filter_desc_btn" value="filter"></td>
        </tr>
    </p>

    <p>
        <tr>
            <td><label>filter by comment containing string</label></td>
            <td><input type="text" id="filter_comment"></td>
            <td><input type="button" id="filter_comment_btn" value="filter"></td>
        </tr>
    </p>

</div>


</div>

{% endblock %}