{% extends 'profile.html' %}

{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'css_file/style.css' %}" />

{% block javascript %}

    $("#delete_expense").click(function(){
        var exp_id = $("#expense_id").val();
        $.ajax({
            url: '{% url "delete_expense" %}',
            type: 'POST',
            data: {'csrfmiddlewaretoken': '{{csrf_token}}', 'exp_id': exp_id},
            dataType: 'json',
            success: function (data) {
            if (data.success) {
                alert(data.note);
                }
            else{
                alert(data.note);
                }
            $("body").append(data.success);


            }
        });

    });


    $("#edit_expense").click(function(){
        var exp_id = $("#exp_id").val();
        var exp_name = $("#exp_name").val();
        var exp_amount = $("#exp_amount").val();
        var exp_descr = $("#exp_descr").val();
        var exp_comment = $("#exp_comment").val();
        $.ajax({
            url: '{% url "edit_expense" %}',
            type: 'POST',
            data: {'csrfmiddlewaretoken': '{{csrf_token}}', 'exp_id': exp_id, 'exp_name': exp_name, 'exp_amount': exp_amount, 'exp_descr': exp_descr, 'exp_comment': exp_comment},
            dataType: 'json',
            success: function (data) {
            if (data.success) {
                alert(data.note);
                window.location = "detail_view/";
                $('#names').reload('#names');
                }
            else
            {
                alert(data.note);
                for (var i = 0, n = exp_list.length; i < n; i++)
                {
                    var txt = ("#exp_list[i].id").val()
                    var e_id = data.exp_id
                    if (txt == e_id)
                    {
                        exp_list[i].expense_name.text(data.expense_name);
                        exp_list[i].amount.text(data.amount);
                        exp_list[i].description.text(data.description);
                        exp_list[i].date.text(data.date);
                        exp_list[i].time.text(data.time);
                        exp_list[i].comment.text(data.comment);
                    }
                }
            }
            $("body").append(data.success);
            }
        });

    });

    $("#calculate_day").click(function(){
        $.ajax({
                url: '{% url "calculate_day" %}',
                type: 'POST',
                data: {'csrfmiddlewaretoken': '{{csrf_token}}'},
                dataType: 'json',
                success: function(data){
                    if (data.success){
                        alert(data.note);
                        $("#calculate_day_avg").html(data.avg);
                        }

                    else{
                        alert(data.note);
                        }
                    }

                });

        });


    $("#calculate_this_week").click(function(){
        $.ajax({
                url: '{% url "calculate_this_week" %}',
                type: 'POST',
                data: {'csrfmiddlewaretoken': '{{csrf_token}}'},
                dataType: 'json',
                success: function(data){
                    if (data.success){
                        alert(data.note);
                        $("#this_week_total").html(data.total);
                        }
                    else{
                        alert(data.note);
                        }
                    }

                });

        });


        $("#filter_all_btn").click(function(){

            var date_one = $("#filter_date_one").val();
            var date_two = $("#filter_date_two").val();
            var first_amount = $("#filter_amount_one").val();
            var second_amount = $("#filter_amount_two").val();
            var name_received = $("#filter_name").val();
            var desc_received = $("#filter_desc").val();
            var comm_received = $("#filter_comment").val();

            $.ajax({
                url: '{% url "filter_all_func" %}',
                type: 'POST',
                data: {'csrfmiddlewaretoken': '{{csrf_token}}', 'date_one': date_one, 'date_two': date_two, 'first_amount': first_amount, 'second_amount': second_amount, 'name_received': name_received, 'desc_received': desc_received, 'comm_received': comm_received},
                dataType: 'json',
                async: true,
                success: function(data){
                    if (data.success){
                        var all = data.all_list;
                        for (var i = 0, n = all.length; i < n; i++)
                        {
                            var all_id_label = $("<label>").text(all[i].id);
                            var all_name_label = $("<label>").text(all[i].name);
                            var all_amount_label = $("<label>").text(all[i].amount);
                            var all_description_label = $("<label>").text(all[i].description);
                            var all_date_label = $("<label>").text(all[i].date);
                            var all_time_label = $("<label>").text(all[i].time);
                            var all_comment_label = $("<label>").text(all[i].comment);

                            $( "#all_div" ).append("<p>")
                            $( "#all_div" ).append(all_id_label)
                            $( "#all_div" ).append(all_name_label)
                            $( "#all_div" ).append(all_amount_label)
                            $( "#all_div" ).append(all_description_label)
                            $( "#all_div" ).append(all_date_label)
                            $( "#all_div" ).append(all_time_label)
                            $( "#all_div" ).append(all_comment_label)
                            $( "#all_div" ).append("</p>")
                        }
                            $("#all_div").show();
                            alert(data.note);
                    }
                    else{
                        alert(data.note);
                        }
                }
            });
        });




{% endblock %}

{% block body %}

<h1>{{ request.user }}</h1>

<div>

  <h1>detail view</h1>
</div>
<div id="names">

    <p>
    <tr>
    <td><label>id</label></td>
    <td><label>name</label></td>
    <td><label>amount</label></td>
    <td><label>description</label></td>
    <td><label>date</label></td>
    <td><label>time</label></td>
    <td><label>comment</label></td>
    </tr>
    </p>
{% for exp in exp_list %}
    <p>
    <tr>
    <td><label id="id">{{ exp.id }}</label></td>
    <td><label id="expense_name">{{ exp.expense_name }}</label></td>
    <td><label id="amount">{{ exp.amount }}</label></td>
    <td><label id="description">{{ exp.description }}</label></td>
    <td><label id="date">{{ exp.date }}</label></td>
    <td><label id="time">{{ exp.time }}</label></td>
    <td><label id="comment">{{ exp.comment }}</label></td>


    <!--<td><button onclick="try_delete({{ exp.id }})" value="delete">Delete</button></td>-->

    </tr>
    </p>


{% endfor %}

</div>

    <div id="all_div" style="display:none">

        <p><label>filtered items</label></p>

        <p>
        <tr>
        <td><label>id</label></td>
        <td><label>name</label></td>
        <td><label>amount</label></td>
        <td><label>description</label></td>
        <td><label>date</label></td>
        <td><label>time</label></td>
        <td><label>comment</label></td>
        </tr>
        </p>

    </div>

<div id="selected"></div>

<div id="expense_avg_div">
    <p>
        <tr>
            <td><input type="button" id="calculate_day" value="get average per day"></td>
            <td><label id="calculate_day_avg"></label></td>
        </tr>
    </p>
</div>


<div id="total_week">
    <p>
        <tr>
            <td><input type="button" id="calculate_this_week" value="get total this week"></td>
            <td><label id="this_week_total"></label></td>
        </tr>
    </p>
</div>

<div>
    <p>
        <tr>
            <td><input type="text" id="expense_avg"></td>
            <td><input type="button" id="delete_expense" value="delete expense"></td>
        </tr>
    </p>

</div>

<div>
<p><label>Edit expense from id</label></p>

    <p>
        <tr>
            <td style="width:15em;"><label>id</label></td>
            <td style="width:15em;"><label>name</label></td>
            <td style="width:15em;"><label>amount</label></td>
            <td style="width:15em;"><label>description</label></td>
            <td style="width:15em;"><label>comment</label></td>
            <td style="width:15em;"><label></label></td>
        </tr>
    </p>

    <p>
        <tr>
            <td style="width:15em;"><input type="text" id="exp_id"></td>
            <td style="width:15em;"><input type="text" id="exp_name"></td>
            <td style="width:15em;"><input type="text" id="exp_amount"></td>
            <td style="width:15em;"><input type="text" id="exp_descr"></td>
            <td style="width:15em;"><input type="text" id="exp_comment"></td>
            <td style="width:15em;"><input type="button" id="edit_expense" value="edit expense"></td>
        </tr>
    </p>

</div>

<div>
    <div>
    <p>
        <tr>
            <td><label>filter by date between</label></td>
            <td><input type="date" id="filter_date_one"></td>
            <td><input type="date" id="filter_date_two"></td>
        </tr>
    </p>
    </div>

    <div>
    <p>
        <tr>
            <td><label>filter by amount between</label></td>
            <td><input type="text" id="filter_amount_one"></td>
            <td><input type="text" id="filter_amount_two"></td>
        </tr>
    </p>
    </div>

    <div>
    <p>
        <tr>
            <td><label>filter by name containing string</label></td>
            <td><input type="text" id="filter_name"></td>
        </tr>
    </p>
    </div>

    <div>
    <p>
        <tr>
            <td><label>filter by description containing string</label></td>
            <td><input type="text" id="filter_desc"></td>
        </tr>
    </p>
    </div>

    <div>
    <p>
        <tr>
            <td><label>filter by comment containing string</label></td>
            <td><input type="text" id="filter_comment"></td>
        </tr>
    </p>
    </div>

    <div>
    <p>
        <tr>
            <td><label>filter all</label></td>
            <td><input type="button" id="filter_all_btn" value="filter"></td>
        </tr>
    </p>
    </div>




</div>

{% endblock %}