{% extends 'index.html' %}

{   {% block javascript %}
    $("#submit_expence").click(function(){

        var amount = $("#amount").val();
        var description = $("#description").val();
        var date = $("#date").val();
        var time = $("#time").val();
        var comment = $("#comment").val();


        var name = $("#my_name").html();
        var password = $("#my_pass").html();

        $.ajax({

                url: '{% url "expense_added" %}',
                type: 'POST',
                data: {'csrfmiddlewaretoken': '{{csrf_token}}', 'name': name, 'password': password, 'amount': amount, 'description': description, 'date': date, 'time': time, 'comment': comment},
                dataType: 'json',
                success: function(data){

                    if (data.success){
                    alert(data.note);

                    }

                else{

                    alert(data.note);
                }

            }

        });

    });
    {% endblock %}

{% block body %}

</div>

<div id='myname'>

<label id="my_name" visible="true"></label>

</div>

<div id='mypass'>

<label id="my_pass" visible="true"></label>


</div>


<div id="expence_info" style="display: none">

    <p><label>Amount</label></p>
    <p><input type="text" id='amount'></p>

    <p><label>Description</label></p>
    <p><input type="text" id='description'></p>

    <p><label>Date</label></p>
    <p><input type="date" id='date'></p>

    <p><label>Time</label></p>
    <p><input type="time" id='time'></p>

    <p><label>Comment</label></p>
    <p><input type="text" id='comment'></p>

    <p><input type="button" id="submit_expence" value="Submit"></p>

</div>
<!--'something'-->
{% endblock %}