{% extends 'index.html' %}

{% block javascript %}

        $("#button_expense_detail_view").click(function(){

            $.ajax({

                url: '{% url "details" %}',
                type: 'POST',
                data: {'csrfmiddlewaretoken': '{{csrf_token}}'},
                dataType: 'json',
                async: true,
                success: function(data){
                    if (data.success){
                    alert(data.note);
                    window.location.href = "/detail_view/";
                    //alert(data.note);
                    }
                else{
                    alert("bad detail view");
                    }
                }
            });
        });

        $("#button_add_new_expense").click(function(){

            $.ajax({

                url: '{% url "add_new_expense_url" %}',
                type: 'POST',
                data: {'csrfmiddlewaretoken': '{{csrf_token}}'},
                dataType: 'json',
                success: function(data){
                    if (data.success){
                    window.location = "/add_new_expense/";
                    //alert(data.note);
                    }
                else{
                    alert("bad add expense");
                    }
                }
            });
        });


        $("#button_log_out").click(function(){

            $.ajax({
                url: '{% url "logout_user" %}',
                type: 'POST',
                data: {'csrfmiddlewaretoken': '{{csrf_token}}'},
                dataType: 'json',
                success: function(data){
                    if (data.success){

                        window.location = "/";
                        alert(data.note);

                        }
                    else
                    {
                        alert(data.note);
                    }
                }
            });
        });


{% endblock %}

{% block body %}

<h1>{{ request.user }}</h1>


<div id="add_new_expense"><input type="button" id="button_add_new_expense" value="add expense"></div>

<div id="expense_detail_view"><input type="button" id="button_expense_detail_view" value="detail view"></div>

<div id="log_out"><input type="button" id="button_log_out" value="log out"></div>



{% endblock %}




